body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.profile-photo {
    max-width: 200px; /* Adjust as needed */
    display: block;
    margin: 0 auto 20px; /* Center the image and add space below */
}

.cv {
    max-width: 800px;
    margin: 80px auto 0;
    padding: 20px;
    background-color: #f0f0f0;
}
h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}
h2 {
    color: #666;
}
ul {
    list-style: none;
    padding-left: 0;
}
ul li {
    margin-bottom: 10px;
}
header {
    text-align: center;
}
.self-intro {
    margin-top: 30px;
    text-align: center;
}
.self-intro p {
    font-size: 18px;
    line-height: 1.6;
}
/* Add a background color to the sections above Recent Activities */
.section-above-recent-activities {
    background-color: #f0f0f0; /* Adjust the color as needed */
    padding: 20px;
    margin-bottom: 20px; /* Add margin to separate from the sections below */
}
.footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%; /* Set the width to 100% */
}
.footer-icons {
    font-size: 24px;
}
.footer-icons a {
    margin: 0 40px; /* This will add space between each icon */
    color: #666; /* Adjusting the color to be lighter */
    transition: color 0.3s ease;
}
        
.footer-icons a:hover {
    color: #ff9900;
}

.dashboard {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    width: 100%; /* Set the width to 100% */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensures the dashboard stays above other content */
}

.dashboard-button {
    color: #ff9900;
    margin: 0 10px;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    background-color: #333;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.dashboard-button:hover {
    background-color: #555;
    text-decoration: underline;
}